<launch>
	<!-- Load setup.yaml -->
	<rosparam command="load" file="$(find road_sweeper)/config/setup.yaml"/>

	<!-- Setup TF tree of base_link and velodyne -->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne">
		<arg name="x" value="1.0" />
		<arg name="y" value="0.0" />
		<arg name="z" value="0.9" />
		<arg name="yaw" value="-1.57" />
		<arg name="pitch" value="0.0" />
		<arg name="roll" value="0.0" />
		<arg name="frame_id" value="/base_link" />
		<arg name="child_frame_id" value="/velodyne" />
		<arg name="period_in_ms" value="10" />
	</node>
</launch>