<launch>

	<node pkg="socketcan_bridge" name="topic_to_socketcan_node" type="topic_to_socketcan_node" output="screen"></node>

	<node pkg="road_sweeper" type="auto_sweep_node" name="auto_sweep_node" output="screen">
        <param name="search_threshold" value="0.5" type="double"/>
    </node>

</launch>