<launch>
  <!-- =============== Config arguments =============== -->
  
  <!-- Arguments' name        Arguments' value			Arguments' range/options -->
  
  <!-- ==== OpenPlanner Global Planner ==== -->
  <arg name="enableLaneChange" default="false"/>
  <arg name="enableReplan" default="true"/>
  <arg name="enableSmoothing" default="true"/>
  <arg name="enableRvizInput" default="false"/>
  <arg name="pathDensity" default="0.75"/>				<!-- 0.01 ~ 5.0 -->
  <arg name="velocitySource" default="1"/> 				<!-- Odometry=0, Autoware=1, car_info=2 -->
  
  <arg name="mapSource" default="0"/> 					<!-- Autoware=0, Vector Map Folder=1, kml file=2 -->
  <arg name="mapFileName" default=""/>
  <arg name="enableDynamicMapUpdate" default="false"/>

  <!-- =============== Nodes start =============== -->

  <!-- ==== OpenPlanner Global Planner ==== -->
  <include file="$(find op_global_planner)/launch/op_global_planner.launch">
    <arg name="pathDensity" value="$(arg pathDensity)"/>
    <arg name="enableSmoothing" value="$(arg enableSmoothing)"/>
    <arg name="enableLaneChange" value="$(arg enableLaneChange)"/>
    <arg name="enableRvizInput" value="$(arg enableRvizInput)"/>
    <arg name="enableReplan" value="$(arg enableReplan)"/>
    <arg name="velocitySource" value="$(arg velocitySource)"/>
    <arg name="mapSource" value="$(arg mapSource)"/>
    <arg name="mapFileName" value="$(arg mapFileName)"/>
    <arg name="enableDynamicMapUpdate" value="$(arg enableDynamicMapUpdate)"/>
  </include>
</launch>
