<launch>
    <!-- Points downsample -->
    <include file="$(find points_downsampler)/launch/points_downsample.launch" />

    <!-- Ring ground filter -->
    <include file="$(find points_preprocessor)/launch/ring_ground_filter.launch" >
        <arg name="point_topic" value="/points_downsampled" />
        <arg name="remove_floor" value="true" />
        <arg name="sensor_model" value="16" />
        <arg name="sensor_height" value="0.9" />
        <arg name="max_slope" value="10.0" />
        <arg name="vertical_thres" value="0.08" />
        <arg name="no_ground_point_topic" value="/points_no_ground" />
        <arg name="ground_point_topic" value="/points_ground" />
    </include>

    <!-- Fix to TF pose -->
    <include file="$(find gnss_localizer)/launch/fix2tfpose.launch" arg="plane" value="7" />

    <!-- NDT matching -->
    <include file="$(find lidar_localizer)/launch/ndt_matching.launch" >
        <arg name="method_type" value="1" />    <!-- pcl_generic=0, pcl_anh=1, pcl_anh_gpu=2, pcl_openmp=3 -->
        <arg name="use_gnss" value="1" />
        <arg name="gnss_reinit_fitness" value="1.0" />
        <arg name="use_imu" value="false" />
        <arg name="imu_upside_down" value="false" />
        <arg name="imu_topic" value="/imu_raw" />
    </include>

    <!-- Vel pose connect -->
    <include file="$(find autoware_connector)/launch/vel_pose_connect.launch" />
</launch>