<launch>

    <!-- =============== Config arguments =============== -->
    
    <!-- Arguments' name        Arguments' value            Arguments' range/options                    Description -->
    
    <!-- ==== Voxel grid filter ==== -->
    <!-- Launch arguments -->
    <arg name="sync" default="false" />
    <arg name="node_name" default="voxel_grid_filter" />
    <arg name="points_topic" default="/points_raw" />
    <arg name="output_log" default="false" />

    <!-- Topic /config/voxel_grid_filter  arguments -->
    <arg name="voxel_leaf_size" default="2.0" />            <!-- 0 ~ 10 -->                             <!-- 滤波降采样的体素大小 -->
    <arg name="measurement_range" default="200.0" />        <!-- 0 ~ 200 -->                            <!-- 滤波降采样的范围，设定为激光雷达的最大测量距离 -->

    <!-- ==== Ring ground filter ==== -->
    <!-- Launch arguments -->
    <arg name="point_topic" default="/points_raw" />        <!-- /points_raw, /filtered_points -->
    <arg name="remove_floor" default="true" />              <!-- true, false -->                        <!-- 是否移除地面 -->
    <arg name="sensor_model" default="16" />                <!-- 16, 32, 64 -->                         <!-- 激光雷达的线数 -->
    <arg name="sensor_height" default="1.85" />             <!-- -3.0 ~ 3.0 -->                         <!-- 激光雷达的安装高度 -->
    <arg name="max_slope" default="10.0" />                 <!-- 0.0 ~ 40.0 -->                         <!-- 地面的最大坡度 -->
    <arg name="vertical_thres" default="0.08" />            <!-- 0.0 ~ 3.0 -->                          <!-- 地面的垂直阈值 -->
    <arg name="no_ground_point_topic" default="/points_no_ground" />                                    <!-- 移除地面后的点云话题 -->
    <arg name="ground_point_topic" default="/points_ground" />                                          <!-- 地面点云话题 -->

    <!-- ==== NDT matching ==== -->
    <!-- Launch arguments -->
    <arg name="method_type" default="0" />                  <!-- pcl_generic=0, pcl_anh=1, pcl_anh_gpu=2, pcl_openmp=3 -->
    <arg name="use_gnss" default="1" />                     <!-- 0, 1 -->                               <!-- 是否使用GNSS，1：使用、0：不使用 -->
    <arg name="use_odom" default="false" />                 <!-- false, true -->                        <!-- 是否使用里程计 -->
    <arg name="use_imu" default="false" />                  <!-- false, true -->                        <!-- 是否使用IMU -->
    <arg name="imu_upside_down" default="false" />          <!-- false, true -->                        <!-- IMU是否倒置 -->
    <arg name="imu_topic" default="/imu_raw" />             <!-- /imu_raw, /imu/data -->                <!-- 订阅IMU数据的话题名 -->
    <arg name="queue_size" default="1" />
    <arg name="offset" default="linear" />
    <arg name="get_height" default="false" />               <!-- false, true -->                        <!-- 是否从GNSS数据中获取高度 -->
    <arg name="use_local_transform" default="false" />
    <arg name="output_log_data" default="false" />          <!-- false, true -->                        <!-- 是否输出日志 -->
    <arg name="gnss_reinit_fitness" default="10.0" />       <!-- 0.0 ~ 500.0 -->                        <!-- 使用GNSS位置重新初始化的适应度值 -->

    <!-- Topic /config/ndt  arguments -->
    <arg name="init_pos_gnss" default="1" />                <!-- init_pos=0, gnss=1 -->                 <!-- 初始化位置的方式 -->
    <!-- init_pos -->
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="roll" default="0.0" />
    <arg name="pitch" default="0.0" />
    <arg name="yaw" default="0.0" />

    <arg name="use_predict_pose" default="1" />             <!-- 0, 1 -->                               <!-- 是否使用预测姿态 -->
    <arg name="error_threshold" default="1.0" />            <!-- 0.0 ~ 10 -->                           <!-- 误差阈值 -->
    <arg name="resolution" default="1.0" />                 <!-- 0.0 ~ 10 -->                           <!-- 分辨率 -->
    <arg name="step_size" default="0.5" />                  <!-- 0.0 ~ 1.0 -->                          <!-- 步长 -->
    <arg name="trans_epsilon" default="0.01" />             <!-- 0.0 ~ 0.1 -->                          <!-- 转换误差 -->
    <arg name="max_iterations" default="30" />              <!-- 1 ~ 300 -->                            <!-- 最大迭代次数 -->
    
    <!-- ==== NDT matching monitor ==== -->
    <arg name="iteration_threshold_warn" default="10" />
    <arg name="iteration_threshold_stop" default="32" />
    <arg name="score_delta_threshold" default="14.0" />
    <arg name="min_stable_samples" default="30.0" />
    <arg name="fatal_time_threshold" default="2.0" />

    <!-- ==== Vel pose connect ==== -->
    <arg name="topic_pose_stamped" default="/ndt_pose" />
    <arg name="topic_twist_stamped" default="/estimate_twist" />
    <arg name="sim_mode" default="false" />

    <!-- =============== Launch =============== -->

    <!-- ==== Voxel grid filter ==== -->
    <include file="$(find points_downsampler)/launch/points_downsample.launch" >
        <arg name="sync" value="$(arg sync)" />
        <arg name="points_topic" value="$(arg points_topic)" />
        <arg name="output_log" value="$(arg output_log)" />
        <arg name="measurement_range" value="$(arg measurement_range)" />
    </include>

    <!-- ==== Ring ground filter ==== -->
    <include file="$(find points_preprocessor)/launch/ring_ground_filter.launch" >
        <arg name="point_topic" value="$(arg point_topic)" />
        <arg name="remove_floor" value="$(arg remove_floor)" />
        <arg name="sensor_model" value="$(arg sensor_model)" />
        <arg name="sensor_height" value="$(arg sensor_height)" />
        <arg name="max_slope" value="$(arg max_slope)" />
        <arg name="vertical_thres" value="$(arg vertical_thres)" />
        <arg name="no_ground_point_topic" value="$(arg no_ground_point_topic)" />
        <arg name="ground_point_topic" value="$(arg ground_point_topic)" />
    </include>

    <!-- ==== Fix to TF pose ==== -->
    <include file="$(find gnss_localizer)/launch/fix2tfpose.launch">
        <arg name="plane" value="7" />
    </include>

    <!-- ==== NDT matching ==== -->
    <include file="$(find lidar_localizer)/launch/ndt_matching.launch" >
        <arg name="method_type" value="$(arg method_type)" />
        <arg name="use_gnss" value="$(arg use_gnss)" />
        <arg name="use_odom" value="$(arg use_odom)" />
        <arg name="use_imu" value="$(arg use_imu)" />
        <arg name="imu_upside_down" value="$(arg imu_upside_down)" />
        <arg name="imu_topic" value="$(arg imu_topic)" />
        <arg name="queue_size" value="$(arg queue_size)" />
        <arg name="offset" value="$(arg offset)" />
        <arg name="get_height" value="$(arg get_height)" />
        <arg name="use_local_transform" value="$(arg use_local_transform)" />
        <arg name="output_log_data" value="$(arg output_log_data)" />
        <arg name="gnss_reinit_fitness" value="$(arg gnss_reinit_fitness)" />
    </include>

    <!-- ==== NDT matching monitor ==== -->
    <include file="$(find lidar_localizer)/launch/ndt_matching_monitor.launch" >
        <arg name="iteration_threshold_warn" value="$(arg iteration_threshold_warn)" />
        <arg name="iteration_threshold_stop" value="$(arg iteration_threshold_stop)" />
        <arg name="score_delta_threshold" value="$(arg score_delta_threshold)" />
        <arg name="min_stable_samples" value="$(arg min_stable_samples)" />
        <arg name="fatal_time_threshold" value="$(arg fatal_time_threshold)" />
    </include>

    <!-- ==== Vel pose connect ==== -->
    <include file="$(find autoware_connector)/launch/vel_pose_connect.launch" >
        <arg name="topic_pose_stamped" value="$(arg topic_pose_stamped)" />
        <arg name="topic_twist_stamped" value="$(arg topic_twist_stamped)" />
        <arg name="sim_mode" value="$(arg sim_mode)" />
    </include>

    <!-- =============== Config set =============== -->

    <!-- Publish voxel grid filter config -->
    <node pkg="rostopic" type="rostopic" name="config_voxel_grid_filter" args="pub --latch --once /config/voxel_grid_filter autoware_config_msgs/ConfigVoxelGridFilter '{voxel_leaf_size: $(arg voxel_leaf_size), measurement_range: $(arg measurement_range)}'" />
    
    <!-- Publish ring ground filter config -->
    <node pkg="rostopic" type="rostopic" name="config_ring_ground_filter" args="pub --latch --once /config/ring_ground_filter autoware_config_msgs/ConfigRingGroundFilter '{sensor_model: $(arg sensor_model), sensor_height: $(arg sensor_height), max_slope: $(arg max_slope), vertical_thres: $(arg vertical_thres)}'" />

    <!-- Publish NDT matching config -->
    <node pkg="rostopic" type="rostopic" name="config_ndt_matching" args="pub --latch --once /config/ndt autoware_config_msgs/ConfigNDT '{init_pos_gnss: $(arg init_pos_gnss), x: $(arg x), y: $(arg y), z: $(arg z), roll: $(arg roll), pitch: $(arg pitch), yaw: $(arg yaw), use_predict_pose: $(arg use_predict_pose), error_threshold: $(arg error_threshold), resolution: $(arg resolution), step_size: $(arg step_size), trans_epsilon: $(arg trans_epsilon), max_iterations: $(arg max_iterations)}'" />
</launch>